{{- with $base := (printf "configs/%s" (env "DE_ENV")) -}}
{{- if tree (printf "%s/amqp" $base) -}}
amqp:
  {{ with $v := (key (printf "%s/amqp/uri" $base)) }}uri: {{ $v }}{{ end }}
  {{- if tree (printf "%s/amqp/exchange" $base) }}
  exchange:
    {{ with $v := (key (printf "%s/amqp/exchange/name" $base)) }}name: {{ $v }}{{ end }}
    {{ with $v := (key (printf "%s/amqp/exchange/type" $base)) }}type: {{ $v }}{{ end }}
  {{- end }}
{{- end }}

{{- if tree (printf "%s/de-db" $base) }}
db:
  {{ with $v := (key (printf "%s/de-db/uri" $base)) }}uri: {{ $v }}{{ end }}
{{- end }}

{{- if tree (printf "%s/notifications" $base )}}
notifications:
  {{ with $v := (key (printf "%s/notifications/base" $base)) }}base: {{ $v }}{{ end }}
{{- end }}

{{- if tree (printf "%s/groups" $base )}}
groups:
  {{ with $v := (key (printf "%s/groups/base" $base)) }}base: {{ $v }}{{ end }}
{{- if tree (printf "%s/apps" $base )}}
  {{ with $v := (key (printf "%s/apps/grouper-user" $base)) }}user: {{ $v }}{{ end }}
{{- end -}}
{{- end -}}
